.ContactUs{
    // padding-top: 15%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important ;
    background-origin: content-box !important ;
    // height: 2000px;

    .pageContactInfoDiv1{
        padding-top: 15%;
    }
    .pageConatactDiv{
        padding-top: 5%;
    }
}