.about{
    width: 100%;
    margin: 0 auto;
    // border: 2px solid red;
    // padding-top: 90px;   
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important ;
    background-origin: content-box !important ;
   

    .aboutTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: #77aad9;
        // margin-top: 50px;
    }
    .componentTheam{
        // background-color: black;
        // padding: 40px;
    }
    .personComponent{
        background-color: black;
        // padding: 80px;
        // padding-top: 80px;
        padding: 5% 0;
    }

}