// RegistrationForm.scss

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .buttonprev{
      margin-top: 10px;
      border: none;
      font-size: 20px;
      height: 40px;
      border-radius: 20px;
      align-items: center;
      padding: 10px;
      background-color: rgb(255, 255, 255);
    }
  }
  
  .registration-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .ant-form-item {
      margin-bottom: 15px;
    }
  
    button {
      width: 100%;
    }
  }
  