// RegistrationForm.scss

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // max-width: 700px;

   
form{
  .ant-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-col {
      width: 50%;
      text-align: left;
    }
  }
}
    .buttonprev{
      margin-top: 10px;
      border: none;
      font-size: 20px;
      height: 40px;
      border-radius: 20px;
      align-items: center;
      padding: 10px;
      background-color: rgb(255, 255, 255);
    }

    .registration-form {
      display: flex;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      // width: 70%;
      flex-direction: column;
    
      
      //  h2{
      //   text-align: center;
      //   margin-bottom: 20px;
      // }
    
      .ant-form-item {
        margin-bottom: 15px;
      }
    
      button {
        width: 100%;
      }

      h2{
        text-align: center;
        font-size: 28px;
      }
    }

  //   input{
  //     // width: 250px;
  //   }

  //   .ant-col ant-form-item-control css-dev-only-do-not-override-1wazalj {
  //     // width: 250px !important;
  //     input{
  //       // width: 250px;
  //     }
  //   }

  //   .ant-form-item css-dev-only-do-not-override-1wazalj{
  //     // width: 250px;
      
  //   }

  //   #fullName{
  //     // transform: translateX(60px);
  //   }

  }
  
 
  