.EditLesson_Component {
    width: 100%;
    padding: 10px;

    .Lesson_option {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 2px solid white;
        gap: 30px;
        input[type="color"] {
            border: 2px solid #ccc;
            border-radius: 10px;
            height: 50px;
            padding: 2px;
          }
       
        .Lesson_item {
    

            width: 200px;
            color: aliceblue;

            img {
                width: 100%;
            }
        }

        textarea {
            margin: 0 auto;
        }

        .Lesson_mini_map {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .Lesson_mini_div {
                text-align: center;
                margin: 0 auto;
                width: 200px;
                
                .Lesson_mini_item {
                    margin-top: 20px;
                    width: 100%;
                    padding: 20px;
                    min-height: 160px;
                    text-align: center;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }

                .Editmini_leson {
                    position: relative;
                    display: flex;
                    background-color: rgba(255, 255, 255, 0.703);
                    text-align: center;
                    top: -10%;
                    border-radius: 12px;
                    border-top: 1px solid transparent;
                    cursor: pointer;
                    transition: all 0.5s ease;

                    &:hover {
                        border-top: 1px solid white;
                        color: white;
                        top: 0;
                    }
                }
            }

            .Edit_button_Lesson,
            .save_button_Lesson,
            .Delete_button_Lesson {
                 margin-left: 10px;
                width: 50px;
                height: 50px;
                cursor: pointer;

                span {
                    font-size: 20px;
                    padding: 14px;
                }
            }
        }
    }
}

.AddLesson_component {
    text-align: center;
    color: aliceblue;

    input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border-bottom: 2px solid white;
    }

    .AddLesson_button {
        background-color: aliceblue;
        margin: 0 auto;
        font-size: 40px;
    }

    .AddLesson_div {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 2px solid white;
        .save_button_Lesson
       {
             margin-left: 10px;
            width: 50px;
            height: 50px;
            cursor: pointer;

            span {
                font-size: 20px;
                padding: 14px;
            }
        }
        .addLec1{
            .Lesson_mini_item{
                width: 200px;
                height: 200px;
                padding: 20px;
            }
            .Edit_button_Lesson,
            .save_button_Lesson,
            .Delete_button_Lesson 
            {
                  margin-left: 10px;
                 width: 50px;
                 height: 50px;
                 cursor: pointer;
     
                 span {
                     font-size: 20px;
                     padding: 14px;
                 }
             }
           
        }
        .btn_box {
            width: 30%;
            padding: 5px;
            height: 80px;
            display: flex;
    
            align-items: center;
            justify-content: space-between;
        }
        .Lesson_item {
            margin: 0 auto;
            width: 200px;
            height: auto;

            img {
                width: 100%;
            }
        }

        .Lesson_mini_map {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            .addLec{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
           
            .Lesson_mini_item {
                width: 200px;
                min-height: 200px;
                padding: 20px;
                margin: 8px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border-right: 2px solid white;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

          
        }
    }
}
